//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 29 17:44:05 2018
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "startInput" LOCATE = SITE "P124" LEVEL 1;
COMP "subInput" LOCATE = SITE "P41" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "addInput" LOCATE = SITE "P51" LEVEL 1;
COMP "outputButtonLight" LOCATE = SITE "P127" LEVEL 1;
COMP "increaseInput" LOCATE = SITE "P33" LEVEL 1;
COMP "io_sel1[0]" LOCATE = SITE "P82" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
COMP "io_sel1[1]" LOCATE = SITE "P74" LEVEL 1;
COMP "io_sel1[2]" LOCATE = SITE "P66" LEVEL 1;
COMP "io_sel1[3]" LOCATE = SITE "P67" LEVEL 1;
COMP "io_sel2[0]" LOCATE = SITE "P120" LEVEL 1;
COMP "io_sel2[1]" LOCATE = SITE "P114" LEVEL 1;
COMP "io_sel2[2]" LOCATE = SITE "P111" LEVEL 1;
COMP "modeInput" LOCATE = SITE "P35" LEVEL 1;
COMP "outputModeOne" LOCATE = SITE "P30" LEVEL 1;
COMP "io_sel2[3]" LOCATE = SITE "P105" LEVEL 1;
COMP "io_seg1[0]" LOCATE = SITE "P88" LEVEL 1;
COMP "io_seg1[1]" LOCATE = SITE "P57" LEVEL 1;
COMP "io_sel4[0]" LOCATE = SITE "P6" LEVEL 1;
COMP "io_seg1[2]" LOCATE = SITE "P79" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "io_seg1[3]" LOCATE = SITE "P81" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "io_seg2[0]" LOCATE = SITE "P118" LEVEL 1;
COMP "io_seg1[4]" LOCATE = SITE "P83" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "io_seg2[1]" LOCATE = SITE "P104" LEVEL 1;
COMP "io_seg1[5]" LOCATE = SITE "P78" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "io_seg2[2]" LOCATE = SITE "P115" LEVEL 1;
COMP "io_seg1[6]" LOCATE = SITE "P75" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "io_seg2[3]" LOCATE = SITE "P117" LEVEL 1;
COMP "led[5]" LOCATE = SITE "P126" LEVEL 1;
COMP "io_seg2[4]" LOCATE = SITE "P119" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "io_seg2[5]" LOCATE = SITE "P116" LEVEL 1;
COMP "led[7]" LOCATE = SITE "P123" LEVEL 1;
COMP "io_seg2[6]" LOCATE = SITE "P112" LEVEL 1;
COMP "io_seg4[0]" LOCATE = SITE "P22" LEVEL 1;
COMP "io_seg4[1]" LOCATE = SITE "P24" LEVEL 1;
COMP "divInput" LOCATE = SITE "P40" LEVEL 1;
COMP "io_seg4[2]" LOCATE = SITE "P8" LEVEL 1;
COMP "io_seg4[3]" LOCATE = SITE "P10" LEVEL 1;
COMP "io_seg4[4]" LOCATE = SITE "P12" LEVEL 1;
COMP "io_seg4[5]" LOCATE = SITE "P17" LEVEL 1;
COMP "multInput" LOCATE = SITE "P50" LEVEL 1;
COMP "io_seg4[6]" LOCATE = SITE "P15" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "outputModeTwo" LOCATE = SITE "P27" LEVEL 1;
TIMEGRP clk = BEL "M_state_q_FSM_FFd1" BEL "M_counter_q_0" BEL
        "seg4/ctr/M_ctr_q_17" BEL "seg4/ctr/M_ctr_q_16" BEL
        "seg4/ctr/M_ctr_q_15" BEL "seg4/ctr/M_ctr_q_14" BEL
        "seg4/ctr/M_ctr_q_13" BEL "seg4/ctr/M_ctr_q_12" BEL
        "seg4/ctr/M_ctr_q_11" BEL "seg4/ctr/M_ctr_q_10" BEL
        "seg4/ctr/M_ctr_q_9" BEL "seg4/ctr/M_ctr_q_8" BEL "seg4/ctr/M_ctr_q_7"
        BEL "seg4/ctr/M_ctr_q_6" BEL "seg4/ctr/M_ctr_q_5" BEL
        "seg4/ctr/M_ctr_q_4" BEL "seg4/ctr/M_ctr_q_3" BEL "seg4/ctr/M_ctr_q_2"
        BEL "seg4/ctr/M_ctr_q_1" BEL "seg4/ctr/M_ctr_q_0" BEL "clk_BUFGP/BUFG"
        BEL "edge_start_input/M_last_q" BEL "reset_cond/M_stage_q_3" BEL
        "reset_cond/M_stage_q_2" BEL "reset_cond/M_stage_q_1" BEL
        "reset_cond/M_stage_q_0" BEL "btn_start_input/M_ctr_q_1" BEL
        "btn_start_input/M_ctr_q_2" BEL "btn_start_input/M_ctr_q_3" BEL
        "btn_start_input/M_ctr_q_4" BEL "btn_start_input/M_ctr_q_5" BEL
        "btn_start_input/M_ctr_q_6" BEL "btn_start_input/M_ctr_q_7" BEL
        "btn_start_input/M_ctr_q_8" BEL "btn_start_input/M_ctr_q_9" BEL
        "btn_start_input/M_ctr_q_10" BEL "btn_start_input/M_ctr_q_11" BEL
        "btn_start_input/M_ctr_q_12" BEL "btn_start_input/M_ctr_q_13" BEL
        "btn_start_input/M_ctr_q_14" BEL "btn_start_input/M_ctr_q_15" BEL
        "btn_start_input/M_ctr_q_16" BEL "btn_start_input/M_ctr_q_17" BEL
        "btn_start_input/M_ctr_q_18" BEL "btn_start_input/M_ctr_q_19" BEL
        "btn_start_input/M_ctr_q_0" BEL "btn_start_input/sync/M_pipe_q_1" BEL
        "btn_start_input/sync/Mshreg_M_pipe_q_1";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

